*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.container{
    background-color: paleturquoise;
    padding-top: 70px;
    width:100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.top-container{
    width:40%;
    height: 100%;
}
.middle-container {
    /* background-color: rgb(167, 167, 167); */
    border-radius: 15px;
}
h1{
    text-align: center;
    font-size: 80px;
}
h2 {
    text-align: center;
    font-size: 30px;
}

.displayPic {
    border-radius: 50%;
    width: 500px;
    height: 500px;
    object-fit: cover;
    outline: 1px solid brown;
    box-shadow: 1px 2px 4px black;
}

.big{
    display: flex;
    gap: 100px;
}
.show{
    width: 500px;
    border: 2px solid beige;
}
.back{
    width: 500px;
    border: 2px solid beige;
}
#projects {
    display: flex;
    flex-direction: row;
     /* background-color: red;  */
    padding: 10px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: gray; */
    border: .2px solid black;
    border-radius: 15px;
    width: 200px;
    margin: 0 auto;
    transition: .3s ease-in;
    padding: 10px;
}
.nav-list {
    list-style: none;

}
.nav-list a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}
.nav-item {

    padding: 10px;
}

.nav:hover{
    background-color: rgb(201, 201, 201);
    color: black;
}

@media screen and (max-width:680px) {
    .container{
        flex-direction: column;
        width:100%;
         padding:75px; 
        text-align: center;
    }
    .displayPic{
        width: 200px;
        height: 200px;
    }
    .big {
        flex-direction: column;
    }
    h1{
        font-size: 40px;
    }
    .top-container{
        width: 100%;
        
    }
}